.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  background-color: white;
}

.main canvas {
  background-color: antiquewhite;
  height: 80vh;
}

.rectangle {
  border: 1px solid #FF0000;
  position: absolute;
}

#regions {
  position: absolute;
  right: 10px;
  height: 80px;
}